<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>
        Admin Dashboard
    </title>
    <style>
    .table .thead-dark th {
        color: #ffffff;
        background-color: #36383C;
        border-color: #36383C;
        font-weight: bold;
    }

    th {
        font-weight: normal;
    }

    .container-dashboard {
        width: 85%;
        padding: 30px;
        opacity: 0.97;
        border-radius: 25px;
        margin-left: 7.5%;
    }

    #items-pic {
        height: 150px;
        width: 250px;
        position: center;
        max-width: 100%;
        max-length: 100%;
        object-fit: contain;
        padding-left: 10px;
        padding-right: 10px;
    }

    #description {
        height: 150px;
        overflow: scroll;
    }

    .card {
        border-radius: 0;
        margin: 0px auto;
    }

    .card-title {
        padding: 10px;
        text-transform: uppercase;
    }

    .card-text {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        color: #000000;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }


    h1 {
        text-shadow: 1px 1px 1px #000000;
        color: #8623bf;
    }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <!-- Style for Navigation bar-->
    <%- include('partials/Style') %>
    <!--First Card for Registered Users -->
    <div class="container-dashboard">
        <h1><strong>Admin Dashboard</strong></h1>
        <!-- First Row for Registered Users -->
        <div class="row">
            <div class="col-md-4">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">REGISTERED USERS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < users.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%= users[i].username %>
                            </th>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <!--Card for Items to Review -->
            <div class="col-md-8">
                <table class="table table-borderless">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">RECENT POSTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < items.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <div class="card auto">
                                    <div class="row no-gutters">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title"><%=  items[i].Title %></h5>
                                                <img class="d-block w-100" id="items-pic" src=<%=  items[i].images[0] %>>
                                </div>
                                                <div class="col-md-6">
                                                    <div class="card-body">
                                                        <p class="card-text">
                                                            Description:<br>
                                                            <div id="description">
                                                                <%=  items[i].Description %>
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer w-100 text-muted">
                                                <p><strong>Price: <%=  items[i].Price %></strong><br>
                                                    <strong>Seller: <%=  items[i].username %></strong>
                                                    <form action="/approveitem?id=<%= items[i].ID %>" method="post">
                                                        <button type="submit" class="btn btn-success" style="float: right;">Approve</a>
                                                    </form>
                                                    <form action="/denyitem?id=<%= items[i].ID %>" method="post">
                                                        <button type="submit"class="btn btn-danger" style="float: right; margin-right: 5px;">Deny</a>
                                                    </form>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Script to render active tab on navbar -->
    <%- include('partials/nav-active') %>
</body>

</html>
