<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>Items</title>
</head>
    <!-- Style for Navigation and Containers-->
    <%- include('partials/Style') %>
  
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <div class="container-items">
        <h1>Items</h1>
    <h4 align="right">Total Items: <%= items.length %></h4>
        <div class="table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">User</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < items.length; i++) { %>
                    <tr>
                        <td>
                            <%= items[i].Title %>
                        </td>
                        <td>
                            <%= items[i].userID %>
                        </td>
                        <td>
                            <%= items[i].Category %>
                        </td>
                        <td><img id="items-pic" src=<%= items[i].image %> </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>