<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>
        Login
    </title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <!-- Style for Navigation bar-->
    <%- include('partials/Style') %>

    <div class="container-form">
        <h1><center>Login</center></h1> 
        <div display="inline-block">
        <br>
        <strong><p>New User?</strong><br>
        <a href="/register target="_blank"">Register here</a></p>
    </div>
        <form action="/user-dashboard" method="get">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
            <div style="padding-left: 60%">
                <a href="/forgot-password target="_blank"">Forgot Password?</p>
            </div>
    </div>
    </form>
    </div>

   <!-- Script to render active tab on navbar -->
    <%- include('partials/nav-active') %>

</body>

</html>