<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>Register</title>
    <!-- Style for Navigation and Containers-->
    <%- include('partials/Style') %>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Script for reCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <div class="container-form">
        <h1><center>Registration</center></h1>
        <div display="inline-block">
            <br>
            <strong><p>Existing User?</strong><br>
            <a href="/login" target="_blank">Login here</a></p>
            <p align="right">Required *</p>
            <form class="needs-validation" action="/register" method="post" id="register-form" novalidate="">
                <div class="form-group">
                    <label for="firstname">Enter First name: *</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" required>
                    <div class="invalid-feedback">
                        You must enter a First name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Enter Last name: *</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name" required>
                    <div class="invalid-feedback">
                        You must enter a last name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Enter a Username: *</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
                    <div class="invalid-feedback">
                        You must enter a username.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Enter a Password: *</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
                    <div class="invalid-feedback">
                        You must enter a password.
                    </div>
                </div>
                <!-- Default unchecked checkbox-->
                <div class="form-group custom-checkbox" align="center">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" required>
                    <label class="custom-control-label" for="defaultUnchecked">
                        I agree to the <u>Terms Of Use.</u>
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
                <!-- Div that loads captcha -->
                <div clas="form-group" align="center">
                    <div class="g-recaptcha" data-sitekey="6LdOF3gUAAAAAA9xNGkTe8oNRIEX_Njojd3iYHnV"></div><br>
                    <input type="submit" action="/captcha" method="post" class="btn btn-success">
            </form>
        </div>
        <!-- Script to Verify with Google for Captcha -->
        <script>
        document.getElementById('register-form').addEventListener('submit', submitForm);

        function submitForm(e) {
            e.preventDefault();

            const name = document.querySelector('#name').value;
            const lastname = document.querySelector('#lastname').value;
            const username = document.querySelector('#username').value;
            const password = document.querySelector('#password').value;
            const captcha = document.querySelector('#g-recaptcha-response').value;

            fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: name,
                        lastname: lastname,
                        username: username,

                        password: password,
                        captcha: captcha
                    })
                })

                .then((res) => res.json())
                .then((data) => {
                    //we can use this for what we want to do with the data
                    console.log(data);
                    //alert(data.msg);
                });
        }
        </script>
        <!-- Script to render active tab on navbar -->
        <%- include('partials/nav-active') %>
     
    <!-- Form Validation Script -->
<script>
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

</body>

</html>