<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>Register</title>
    <!-- Style for Navigation and Containers-->
    <%- include('partials/Style') %>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Script for reCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <div class="container-form">
        <h1><center>Registration</center></h1>
        <div display="inline-block">
        <br>
        <strong><p>Existing User?</strong><br>
        <a href="/login">Login here</a></p>
        <form action="/register" method="post" id="register-form">
            <div class="form-group">
                <label for="exampleInputEmail1">Enter First name:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter Last name:</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Enter an Email:</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter a Username:</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Enter a Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
            </div>
            <!-- Default unchecked checkbox-->
            <div class="form-group custom-checkbox" align="center">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">
                    I agree to the <u>Terms Of Use.</u>
                </label>
            </div>
            <!-- Div that loads captcha -->
            <div clas="form-group" align="center">
                <div class="g-recaptcha" data-sitekey="6LdOF3gUAAAAAA9xNGkTe8oNRIEX_Njojd3iYHnV"></div><br>
                <input type="submit" name="submit" value="Register" class="btn btn-success">
        </form>
    </div>
    <!-- Script to Verify with Google for Captcha -->
    <script>
    document.getElementById('register-form').addEventListener('submit', submitForm);

    function submitForm(e) {
        e.preventDefault();

        const name = document.querySelector('#name').value;
        const lastname = document.querySelector('#lastname').value;
        const email = document.querySelector('#email').value;

        const username = document.querySelector('#username').value;
        const password = document.querySelector('#password').value;
        const captcha = document.querySelector('#g-recaptcha-response').value;

        fetch('/register', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({
                    name: name,
                    lastname: lastname,
                    email: email,
                    username: username,

                    password: password,
                    captcha: captcha
                })
            })

            .then((res) => res.json())
            .then((data) => {
                //we can use this for what we want to do with the data
                console.log(data);
                //alert(data.msg);
            });
    }
    </script>
    <!-- Script to render active tab on navbar -->
    <%- include('partials/nav-active') %>
</body>

</html>