<!DOCTYPE html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>Team</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <!-- Style for About Page -->
    <%- include('partials/Style') %>
    <!-- Page Content -->
    <div class="container">
        <!-- Introduction Row -->
        <h1 class="my-4">Team 12
        </h1>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Team Members</h2>
            </div>
            <br><br>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/pablo"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/fB8JRe/Pablo_Profile.png" alt="Learn-About-Pablo"></a>
                <h3>Pablo<br>
                    <small>Team Lead</small><br>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/harry"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/mqsOsK/Harry_Profile.jpg" alt="Learn-About-Harry"></a>
                <h3>Harry<br>
                    <small>Front-End Developer</small>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/syed"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/jzqMez/Syed_Profile.jpg" alt="Learn-About-Syed"></a>
                <h3>Syed<br>
                    <small>Front-End Developer</small>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/stephanie"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/eCZQ6e/Steph_Profile.jpg" alt="Learn-About-Stephanie"></a>
                <h3>Stephanie<br>
                    <small>Front-End Developer</small>
                </h3>
            </div>
            <br><br>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/jack"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/cERSKz/Profile_Jack.jpg" alt="Learn-About-Jack"></a>
                <h3>Jack<br>
                    <small>Back-End Developer</small>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/johnny"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/by37Kz/Profile_Johnny.jpg" alt="Learn-About-Johnny"></a>
                <h3>Johnny<br>
                    <small>Back-End Developer</small>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-4 text-center mb-4">
                <a href="about/marlo"><img class="rounded-circle img-fluid d-block mx-auto" src="https://image.ibb.co/d2HpXK/Profile_Marlo.jpg" alt="Learn-About-Marlo"></a>
                <h3>Marlo<br>
                    <small>Back-End Developer</small>
                </h3>
            </div>
        </div>
    </div>

 <!-- Script to render active tab on navbar -->
    <%- include('partials/nav-active') %>
</body>

</html>