<!DOCTYPE html>
<html>

<head>
    <!-- Head -->
    <%- include('partials/head') %>
    <title>
        User Dashboard
    </title>
    <style>
    .container-dashboard {
        width: 85%;
        padding: 30px;
        opacity: 0.97;
        border-radius: 25px;
        margin-left: 7.5%;
    }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Navigation -->
    <%- include('partials/navbar') %>
    <!-- Style for Navigation bar-->
    <%- include('partials/Style') %>
    <div class="container-dashboard">
        <h1><center>User Dashboard</center></h1>
    </div>
    </form>
    </div>
    <!-- Script to render active tab on navbar -->
    <%- include('partials/nav-active') %>
</body>

</html>